<h2>Individual cart</h2>
<table class="table">
  <tr>
    <th>User</th>
    <th>Order Id</th>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Sub Total</th>
  </tr>
  <% @cart.orders.each do |order| %>
    <tr>
      <td><%= order.user.email %></td>
      <td><%= order.id %></td>
      <td><%= order.product.name %></td>
      <td><%= order.quantity %></td>
      <td><%= order.total_amount %></td>
    </tr>
  <% end %>
</table>
<h4>Total amount: <%= number_to_currency @cart_total %></h4>
<%= form_for @cart, url: cart_payments_path(@cart), method: :post do |f| %>
  <%= render 'products/payment_script' %>
<% end %>
