<h1>All Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-3">
      <div class="card">
        <%= link_to image_tag(product.product_image, class: "card-img-top"), product_path(product) %>
        <!-- <img src="<%#= product.product_image %>" alt="" class="card-img-top"> -->
        <div class="card-block">
          <p class="card-title">
            <strong><%= product.name %></strong>
          </h4>
          <p class="card-text">
            <%= product.description.truncate(50) %>
          </p>
          <p class="card-text">
            <%= number_to_currency product.price %>
          </p>
          <p class="card-text">
            Left: <%= product.remaining_quantity %>
          </p>
          <p class="card-text">
            <%#= link_to 'View Details', product_path(product) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to_previous_page @products, 'Previous Page', class: "btn btn-secondary" %>
  <%= link_to_next_page @products, 'Next Page', class: "btn btn-secondary" %>
</div>
