
<div class="row individual-product">
  <div class="col-5 product-image">
    <!-- <img src="<%#= @product.product_image %>" alt=""> -->
    <img src="http://lorempixel.com/400/400/" alt="">
  </div>
  <div class="col-5 product-description">
    <section>
      <h3><%= @product.name %></h3>
      <article><%= @product.description %></article>
      <br>
      <!-- <#% if user_signed_in? %> -->
        <!-- <p>UP: <strike><span class="dollar"><%= @product.price %></span></strike></p>
        <p id="product-price"><span class="dollar"><%= (@product.price*0.85).round(2) %></span></p> -->
      <!-- <#% else %> -->
        <!-- <p id="product-price"><span class="dollar"><%= @product.price %></span></p> -->
      <!-- <#% end %> -->
      <p id="product-price"><span class="dollar"><%= applied_price(@product) %></span></p>
      <p>Left: <%= @product.remaining_quantity %></p>
    </section>

    <%= form_for @order, :url => product_orders_path(@product) do |f| %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "form-control col-5", id: "quantity-input", min: '0', max: @product.remaining_quantity %>
      <hr>
      <p>Total Amount: <span id="total-amount"></span></p>

      <%= render 'payment_script' %>

    <% end %>

  </div>
</div>
