
<div class="row individual-product">
  <div class="col-5 product-image">
    <!-- <img src="<%#= @product.product_image %>" alt=""> -->
    <img src="http://lorempixel.com/400/400/" alt="">
  </div>
  <div class="col-5 product-description">
    <section>
      <h3><%= @product.name %></h3>
      <article><%= @product.description %></article>
      <br>
      <% if user_signed_in? %>
        <p>UP: <strike><span class="dollar"><%= @product.price %></span></strike></p>
        <p id="product-price"><span class="dollar"><%= (@product.price*0.85).round(2) %></span></p>
      <% else %>
        <p id="product-price"><span class="dollar"><%= @product.price %></span></p>
      <% end %>
      <p>Left: <%= @product.remaining_quantity %></p>
    </section>

    <%= form_for @order, :url => product_orders_path(@product) do |f| %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "form-control col-5", id: "quantity-input", min: '0', max: @product.remaining_quantity %>
      <hr>
      <p>Total Amount: <span id="total-amount"></span></p>

      <script
        src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
        data-key="pk_test_Se39oUhsaNpMbvzSYQa1Phxw"
        data-amount=""
        data-name="FFaker Store"
        data-description="<%= @product.name %>"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-currency="usd"
        data-locale="auto"
        data-shipping-address=true
        data-allow-remember-me=false>
      </script>

    <% end %>

  </div>
</div>
