
<div class="row individual-product">
  <div class="col-5 product-image">
    <!-- <img src="<%#= @product.product_image %>" alt=""> -->
    <img src="http://lorempixel.com/400/400/" alt="">
  </div>
  <div class="col-5 product-description">
    <section>
      <h3><%= @product.name %></h3>
      <article><%= @product.description %></article>
      <br>

      <%= discount_if_logged_in(user_signed_in?).html_safe %>

      <p>Left: <%= @product.remaining_quantity %></p>
    </section>
    <% if user_signed_in? %>
      <%= form_for @order, :url => cart_orders_path(@cart) do |f| %>

        <%= f.label :quantity %>
        <%= f.number_field :quantity, class: "form-control col-5", id: "quantity-input", min: '0', max: @product.remaining_quantity %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <hr>
        <p>Total Amount: <span id="total-amount"></span></p>
        <%= f.submit "Add to cart" %>
        <%#= render 'payment_script' %>

      <% end %>
    <% end %>
  </div>
</div>
