<!DOCTYPE html>
<html>
  <head>
    <title>Buystuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="home">
        <%= link_to 'Home', products_path, :class => "btn btn-default" %>
      </div>
      <div class="cart">
        <% if user_signed_in? %>
          <%= link_to 'Cart', cart_path(@cart), :class => "btn btn-default" %>
        <% end %>
      </div>
      <div class="sign-in">
        <% if user_signed_in? %>
          <%= current_user.email %> | <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete'%>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, :class => "btn btn-default" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <div class="col-xs-10 offset-1">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
